@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* !!!!!!!!!!!!!!!!!!!!HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.container {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #edddd4;
}
.img-container {
  height: 100px;
}

.img-container img {
  width: 150px;
  height: 150px;
}

.header-links {
  height: 100px;
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 20px;
  align-items: center;
}

.header-links a {
  height: 30px;
  width: 70px;
  text-decoration: none;
  color: black;
}

.header-links a:hover {
  color: #ff7d00;
}

/* !!!!!!!!!!!!!!!!!!!!INTRODUCCION !!!!!!!!!!!!!!!!!!!!!!!!!!*/

.image-container {
  position: relative;
}

.image-container img {
  max-width: 100%;
  height: auto;
  filter: brightness(50%);
}

.p-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

.p-container a {
  position: absolute;
  left: 50px;
  color: white;
  text-decoration: none;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.p-container a:hover {
  color: white;
  font-size: 41px;
  border-top: 1px #ff7d00 solid;
  border-bottom: 1px #ff7d00 solid;
}

/* !!!!!!!!!!!!!!!!!!!!HEADER PRODUCTOS !!!!!!!!!!!!!!!!!!!!!!!!!!*/

.product-header h2 {
  text-align: center;
  margin-top: 30px;

  margin-bottom: 50px;
}

/* !!!!!!!!!!!!!!!!!!!!PRODUCTOS !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products-container div {
  margin-right: 25px;
  margin-left: 25px;
  border-left: 1px solid #15616d;
  border-right: 1px solid #15616d;
  height: 200px;
}

.products-container .product-1,
.product-2,
.product-3 {
  text-align: center;
  transition-duration: 1s;
}

.products-container .product-1:hover {
  font-size: 20px;
}

.products-container .product-2:hover {
  font-size: 20px;
}

.products-container .product-3:hover {
  font-size: 20px;
}

.products-container .product-1 h3 {
  color: #15616d;
}

.products-container .product-2 h3 {
  color: #15616d;
}

.products-container .product-3 h3 {
  color: #15616d;
}

.products-container .product-1 p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.products-container .product-2 p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.products-container .product-3 p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.products-container a {
  border-top: 1px solid #15616d;
  border-bottom: 1px solid #15616d;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.products-container a:hover {
  color: #ff7d00;
}

/* !!!!!!!!!!!!!!!!!!!!FORMULARIO DE CONTACTO !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.contact-h2 {
  margin-top: 50px;
  text-align: center;
  background-color: #ffecd1;
}

.contact-container {
  margin: 0 auto;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 200px 500px 200px;
  justify-content: center;
  align-self: center;
  align-items: center;
  position: relative;
  background-color: #ffecd1;
}

.contact-container label {
  margin-top: 5px;
  grid-column: 2;
  margin-right: 10px;
}

.contact-container input {
  grid-column: 2;
  margin-bottom: 10px;
}

.contact-container button {
  grid-column: 2;
  background-color: #ff7d00;
  width: 250px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 2px;
  border-radius: 12px;
  transition-duration: 0.5s;
  margin-bottom: 20px;
}

.contact-container button:hover {
  color: white;
}

/* !!!!!!!!!!!!!!!!!!!!MENSAJE DE CONFIRMACION DE ENVIO DE FORMULARIO !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.confirmation-container {
  margin: 0 auto;
  width: 200px;
  display: none;
}

/* !!!!!!!!!!!!!!!!!!!!FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer-container {
  padding-top: 10px;
  background-color: #df9a57;
  display: grid;
  grid-template-rows: 50px 100px;
  height: 100px;
}

.footer-container .social-container {
  text-align: center;
}

.footer-container .social-container i {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-container .social-container i:hover {
  color: white;
  cursor: pointer;
}

.footer-container .information-container {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  height: 20px;
}

.mobile-buttons {
  display: none;
}

/*??????????????????DISPOSITIVOS MOVILES HASTA 480PX????????????????????*/

@media only screen and (max-width: 480px) {
  /* !!!!!!!!!!!!!!!!!!!!HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!*/

  .container {
    width: 100%;
    display: none;
    grid-template-columns: 1fr 1fr;
    position: relative; /*Modificado*/
    height: 200px; /*Modificado*/
  }

  /* !!!!!!!!!!!!!!!!!!!!HEADER RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!*/
  .responsive-header {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    background-color: #ffecd1;
  }

  .responsive-header #btn-menu {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 20px;
  }

  .responsive-header img {
    width: 130px;
    height: 130px;
  }

  .header-links-responsive {
    display: none;
    grid-template-rows: 50px 50px 50px 50px 50px;
  }

  .header-links-responsive a {
    width: auto;
    color: black;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    margin-right: 20px;
  }

  .header-links-responsive #btn-close {
    margin-left: 205px;
    margin-top: 10px;
  }

  /* !!!!!!!!!!!!!!!!!!!!INTRODUCCION !!!!!!!!!!!!!!!!!!!!!!!!!!*/
  .image-container {
    width: 100%;
    height: auto;
    position: relative;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .image-container p {
    font-size: 14px;
  }

  .image-container a {
    position: absolute;
    left: 0px;
  }

  .image-container a:hover {
    font-size: 10px;
    color: white;
  }

  /* !!!!!!!!!!!!!!!!!!!!PRODUCTOS !!!!!!!!!!!!!!!!!!!!!!!!!!*/

  .products-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .products-container .product-1 {
    border-left: white;
    border-right: white;
    border-top: #15616d 1px solid;
    border-bottom: #15616d 1px solid;
    margin-bottom: 50px;
  }

  .products-container .product-2 {
    border-left: white;
    border-right: white;
    border-top: #15616d 1px solid;
    border-bottom: #15616d 1px solid;
    margin-bottom: 50px;
  }

  .products-container .product-3 {
    border-left: white;
    border-right: white;
    border-top: #15616d 1px solid;
    border-bottom: #15616d 1px solid;
    margin-bottom: 50px;
  }
  .products-container .product-1:hover {
    pointer-events: none;
  }

  .products-container .product-2:hover {
    pointer-events: none;
  }

  .products-container .product-3:hover {
    pointer-events: none;
  }

  /* !!!!!!!!!!!!!!!!!!!!FORMULARIO !!!!!!!!!!!!!!!!!!!!!!!!!!*/
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contact-container label {
    display: grid;
    grid-column: 1;
    margin-left: 20px;
  }

  .contact-container input {
    display: grid;
    grid-column: 2;
    margin-right: 20px;
  }

  .contact-container button {
    display: grid;
    grid-column: 2;
    margin-right: 20px;
  }

  /* !!!!!!!!!!!!!!!!!!!!FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!*/

  .footer-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    height: 135px;
  }

  .footer-container .social-container {
    width: 100%;
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .footer-container .social-container i {
    align-items: center;
    align-self: center;
  }

  .footer-container .information-container {
    height: 80px;
    padding: 0;
  }

  .footer-container .information-container p {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 10.5px;
  }
}
